In [1]:
import pandas as pd

In [28]:
games = pd.read_csv('games.csv')

In [29]:
games.head()

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

In [30]:
games.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

Reassign `games` as its subset of the columns, only keeping columns about the games

In [31]:
games = games[['GAME_DATE', 'GAME_STATUS_TEXT', 
               'TEAM_ID_home', 'TEAM_ID_away', 
               'POINTS_home', 'POINTS_away', 
               'HOME_TEAM_WINS']]

In [32]:
games.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1
2,2020-12-19,Final,1610612763,1610612737,116,117,0
3,2020-12-18,Final,1610612754,1610612755,107,113,0
4,2020-12-18,Final,1610612761,1610612748,105,117,0

In [33]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

In [34]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

In [35]:
games['GAME_STATUS_TEXT'] = games['GAME_STATUS_TEXT'].astype('string')

In [36]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  string
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), int64(5), string(1)
memory usage: 1.3 MB

In [37]:
teams = pd.read_csv('teams.csv')

In [38]:
teams.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [39]:
teams.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

Reassign `teams` as a subset of its columns, only keeping some columns about the teams

In [40]:
teams = teams[['TEAM_ID', 'CITY', 'NICKNAME']]

In [41]:
teams.head()

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

In [42]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   30 non-null     int64
 1   CITY      30 non-null     object
 2   NICKNAME  30 non-null     object
dtypes: int64(1), object(2)
memory usage: 848.0+ bytes

In [43]:
teams = teams.astype({'CITY': 'string', 'NICKNAME': 'string'})

In [44]:
teams.dtypes

TEAM_ID      int64
CITY        string
NICKNAME    string
dtype: object

In [45]:
games.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1

In [46]:
teams.head(2)

      TEAM_ID     CITY NICKNAME
0  1610612737  Atlanta    Hawks
1  1610612738   Boston  Celtics

Merge `games` and `teams`

In [47]:
games_with_home_team = pd.merge(games, teams, left_on='TEAM_ID_home', right_on='TEAM_ID', how='inner')

In [48]:
games_with_home_team.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic
2,2020-08-24,Final,1610612753,1610612749,106,121,0,1610612753,Orlando,Magic
3,2020-08-22,Final,1610612753,1610612749,107,121,0,1610612753,Orlando,Magic
4,2020-08-13,Final,1610612753,1610612740,133,127,1,1610612753,Orlando,Magic

In [49]:
games_with_home_team = games_with_home_team.rename(columns={'CITY': 'city_home', 
                                                            'NICKNAME': 'nickname_home'})

In [50]:
games_with_home_team.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,city_home,nickname_home
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic

Merge `games_with_home_team` and `teams`

In [51]:
games_with_both_teams = pd.merge(games_with_home_team, teams, left_on='TEAM_ID_away', right_on='TEAM_ID')

In [52]:
games_with_both_teams.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets

In [53]:
games_with_both_teams = games_with_both_teams.rename(columns={'CITY': 'city_away', 
                                                              'NICKNAME': 'nickname_away'})

In [54]:
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,city_away,nickname_away
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
2,2014-03-28,Final,1610612753,1610612766,110,105,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
3,2014-01-17,Final,1610612753,1610612766,101,111,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
4,2013-02-19,Final,1610612753,1610612766,92,105,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets

The team ID columns are not needed after the merge of the DataFrames.

In [55]:
games_with_both_teams = games_with_both_teams.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'])
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

In [56]:
games=games_with_both_teams.copy()

In [57]:
games.columns = games.columns.str.lower()

In [58]:
games.columns

Index(['game_date', 'game_status_text', 'points_home', 'points_away',
       'home_team_wins', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

In [59]:
games_with_both_teams.columns

Index(['GAME_DATE', 'GAME_STATUS_TEXT', 'POINTS_home', 'POINTS_away',
       'HOME_TEAM_WINS', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

In [60]:
games.shape

(23421, 9)

Export `games` as a csv file called 'games_transformed.csv'

In [61]:
games.to_csv('games_transformed.csv',index=False)

In [62]:
games.select_dtypes(include='number')

       points_home  points_away  home_team_wins
0              120          117               1
1              115          123               0
2              110          105               1
3              101          111               0
4               92          105               0
...            ...          ...             ...
23416          116          110               1
23417          110          100               1
23418          122           92               1
23419          119          113               1
23420           98           97               1

[23421 rows x 3 columns]

In [63]:
games.select_dtypes(exclude='number')

,game_date,game_status_text,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,Orlando,Magic,Charlotte,Hornets
...,...,...,...,...,...,...
23416,2018-11-26,Final,Golden State,Warriors,Orlando,Magic
23417,2017-11-13,Final,Golden State,Warriors,Orlando,Magic
23418,2017-03-16,Final,Golden State,Warriors,Orlando,Magic
23419,2016-03-07,Final,Golden State,Warriors,Orlando,Magic
23420,2014-12-02,Final,Golden State,Warriors,Orlando,Magic

In [64]:
games.head()

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

In [65]:
games.loc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_home                       Orlando
nickname_home                     Magic
city_away                     Charlotte
nickname_away                   Hornets
Name: 0, dtype: object

In [66]:
games.iloc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_home                       Orlando
nickname_home                     Magic
city_away                     Charlotte
nickname_away                   Hornets
Name: 0, dtype: object

In [67]:
games=games.set_index('game_date')

In [68]:
games.index

DatetimeIndex(['2020-12-19', '2020-12-17', '2014-03-28', '2014-01-17',
               '2013-02-19', '2013-01-18', '2012-04-25', '2012-01-17',
               '2011-04-01', '2011-02-27',
               ...
               '2007-12-03', '2007-01-10', '2006-03-01', '2004-12-10',
               '2004-03-17', '2018-11-26', '2017-11-13', '2017-03-16',
               '2016-03-07', '2014-12-02'],
              dtype='datetime64[ns]', name='game_date', length=23421, freq=None)

In [69]:
games.loc['2020-12-18']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

In [70]:
games.loc['2020-12-18':'2020-12-19']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

In [71]:
games.loc[['2020-12-18','2019-12-18']]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers
2019-12-18,Final,100,98,1,Cleveland,Cavaliers,Charlotte,Hornets
2019-12-18,Final,99,107,0,Minnesota,Timberwolves,New Orleans,Pelicans
2019-12-18,Final,99,112,0,Detroit,Pistons,Toronto,Raptors
2019-12-18,Final,104,108,0,Philadelphia,76ers,Miami,Heat
2019-12-18,Final,103,109,0,Dallas,Mavericks,Boston,Celtics
2019-12-18,Final,109,110,0,Washington,Wizards,Chicago,Bulls
2019-12-18,Final,126,122,1,Oklahoma City,Thunder,Memphis,Grizzlies
2019-12-18,Final,122,112,1,Portland,Trail Blazers,Golden State,Warriors
2019-12-18,Final,113,104,1,Denver,Nuggets,Orlando,Magic

In [72]:
games[games['points_home']>150]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2010-03-16,Final,152,114,1,Phoenix,Suns,Minnesota,Timberwolves
2020-08-25,Final,154,111,1,Los Angeles,Clippers,Dallas,Mavericks
2006-12-27,Final,151,145,1,New York,Knicks,Detroit,Pistons
2019-11-30,Final,158,111,1,Houston,Rockets,Atlanta,Hawks
2008-03-16,Final,168,116,1,Denver,Nuggets,Oklahoma City,Thunder
2019-01-10,Final,154,147,1,San Antonio,Spurs,Oklahoma City,Thunder
2020-01-28,Final,151,131,1,Milwaukee,Bucks,Washington,Wizards
2020-01-26,Final,152,133,1,Atlanta,Hawks,Washington,Wizards
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns
2008-04-06,Final,151,147,1,Oklahoma City,Thunder,Denver,Nuggets

Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1

In [73]:
games[(games['points_home']>150)&(games['home_team_wins']!=1)]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns

Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1, as well as the columns `home_team_wins` and `points_home`

In [74]:
games.loc[(games['points_home']>150)&(games['home_team_wins']!=1),['home_team_wins','points_home']]

            home_team_wins  points_home
game_date
2019-03-01               0          161
2019-10-30               0          158
2006-12-07               0          157

Reset the index of `games` back to default and verify the changes

In [75]:
games=games.reset_index()

In [76]:
games.head(2)

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets

Add a new column called `points_total`, as the sum of columns `points_home` and `points_away`

In [77]:
games['points_total'] = games['points_home'] + games['points_away']

In [78]:
games[['points_home', 'points_away', 'points_total']]

       points_home  points_away  points_total
0              120          117           237
1              115          123           238
2              110          105           215
3              101          111           212
4               92          105           197
...            ...          ...           ...
23416          116          110           226
23417          110          100           210
23418          122           92           214
23419          119          113           232
23420           98           97           195

[23421 rows x 3 columns]

Print out the 3 rows with the largest `points_total` using the `nlargest` method

In [79]:
games.nlargest(n=3, columns='points_total')

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
15391,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329
16895,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
15572,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317

Sort the DataFrame `games` by its `points_total` column in ascending order

In [80]:
games=games.sort_values(by='points_total')

In [81]:
games.tail(3)

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
15572,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317
16895,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
15391,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329

In [82]:
games.iloc[0]

game_date           2007-10-19 00:00:00
game_status_text                  Final
points_home                          36
points_away                          33
home_team_wins                        1
city_home                        Boston
nickname_home                   Celtics
city_away                      Brooklyn
nickname_away                      Nets
points_total                         69
Name: 2475, dtype: object

In [83]:
games.head()

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
2475,2007-10-19,Final,36,33,1,Boston,Celtics,Brooklyn,Nets,69
14885,2003-10-08,Final,62,58,1,Indiana,Pacers,Chicago,Bulls,120
5948,2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124
13807,2005-03-13,Final,64,62,1,Detroit,Pistons,Utah,Jazz,126
3555,2003-11-01,Final,73,56,1,Minnesota,Timberwolves,Toronto,Raptors,129

In [84]:
games.iloc[[1,2]]

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
14885,2003-10-08,Final,62,58,1,Indiana,Pacers,Chicago,Bulls,120
5948,2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124

In [85]:
games.iloc[:4,:5]

       game_date game_status_text  points_home  points_away  home_team_wins
2475  2007-10-19            Final           36           33               1
14885 2003-10-08            Final           62           58               1
5948  2004-11-09            Final           64           60               1
13807 2005-03-13            Final           64           62               1